@import "constants.scss";
;

.button-github {
  background: $button-github-color;
  color: white;
}

.button-linkedin {
  background: $button-linked-in-color;
  color: white;
}

body {
  background-image: url("https://raw.githubusercontent.com/vozille/vozille.github.io/production/src/assets/date.jpg")
}
